{% extends "mooveActiviteBundle:Accueil:tableauDeBord.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/mooveactivite/css/dashboard/style.css') }}">
{% endblock %}
{% block activeAccueil %}active{% endblock %}
{% block bodyTableau %}
    <br>
    <div class="row">
        
        
        <!-- notice -->
        {% if app.session.flashbag.has('notice') %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <ul>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                  <li>{{ flashMessage }}</li>
                {% endfor %}
              </ul>
            </div>
        {% endif %}
        
        
        
        
        
        <div class="col-md-6">
            <!-- Grand panel de gauche -->
            <div class="panel panel-default">
                <!-- Titre du grand panel -->
                <div class="panel-heading text-center">Les activités des autres auxquelles je participe</div>
                <!-- Corps du grand panel -->
                <div class="panel-body">
                    <div class="col-md-6">
                        <!-- Panel vert avec les nombres-->
                        <!-- Code permettant d'afficher le nombre d'activités auxquelles l'utilisateur va participer
                            et où il est accepté par l'organisateur -->
                        <div class="panel status panel-success">
                            <!-- Titre du premier panel vert-->
                            <div class="panel-heading">
                                <h1 class="panel-title text-center">{{ nbParticipations }}</h1>
                            </div>
                            <!-- corps du premier panel vert -->
                            <div class="panel-body text-center">
                                {% if nbParticipations > 1 %}                    
                                    <strong>participations à venir</strong>
                                {% else %}
                                    <strong>participation à venir</strong>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- panel premier violet avec les nombres -->
                        <!-- Code permettant d'afficher le nombre d'activités auxquelles l'utilisateur a demandé à
                            participer mais l'organisateur ne l'a pas encore accepté -->
                        <div class="panel status panel-info">
                            <!-- Titre du premier panel violet -->
                            <div class="panel-heading">
                                <h1 class="panel-title text-center">{{ nbDemandesEnAttente }}</h1>
                            </div>
                            <!-- corps du panel violet -->
                            <div class="panel-body text-center">                        
                                {% if nbDemandesEnAttente > 1 %}                    
                                    <strong>demandes d'acceptation en attente</strong>
                                {% else %}
                                    <strong>demande d'acceptation en attente</strong>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!-- second panel vert avec le texte correspondant aux nombre -->
                        <!-- texte permettant d'afficher les activités où l'utilisateur va participer prochainement-->
                        <div class="panel panel-success">
                            <!-- titre du second panel vert -->
                            <div class="panel-heading">
                                <h3 class="panel-title">Mes participations en approche</h3>
                            </div>
                            <!-- Corps du second panel vert -->
                            <div class="panel-body">
                                {% set auMoinsUneParticipationHorsMoi = false %}
                                {% for liste in listeParticipationEnApproche %}
                                    {% if liste.activite.organisateur != app.user %}
                                        {% set auMoinsUneParticipationHorsMoi = true %}
                                        <p>L'activité 
                                            <a href="{{ path('moove_activite_detailsActivite', {idActivite: liste.activite.id}) }}" >
                                                  {{ liste.activite.sportPratique.nom | lower }} du {{ liste.activite.dateHeureRDV | date("d/m/y") }}
                                            </a> 
                                            de 
                                            <a href="{{ path('moove_utilisateur_profileUtilisateur', {idUtilisateur: liste.activite.organisateur.id}) }}">
                                                {{ liste.activite.organisateur.prenom ~ " " ~ liste.activite.organisateur.nom }}
                                            </a> 
                                            {#{% set tempsAvantDebut = (liste.activite.dateHeureRDV | date("U") - "now" | date("U")) %}#}
                                            démarre {{ liste.activite.dateHeureRDV | time_diff}}.
                                        </p>
                                    {% endif %}
                                {% endfor %}
                                {% if not auMoinsUneParticipationHorsMoi %}
                                    <p>Vous n'avez pas d'activité en approche. Vous pouvez rejoindre des activités en <a href="{{ path('moove_activite_rechercher') }}">recherchant des activités</a>.</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- second panel violet avec le texte correspondant aux nombre -->
                        <!-- texte indiquant les activtés auxquelles l'utilisateur a demandé à partciper mais l'organisateur ne 
                        l'a pas encore accepté -->
                        <div class="panel panel-info">
                            <!-- titre du second panel violet -->
                            <div class="panel-heading">
                                <h3 class="panel-title">Mes demandes de participation</h3>
                            </div>
                            <!-- corps du second panel violet -->
                            <div class="panel-body">
                                {% for liste in listeDemandesEnAttente %}
                                    <p>Ma demande de participation à l'activité 
                                        <a href="{{ path('moove_activite_detailsActivite', {idActivite: liste.id}) }}" >
                                            {{ liste.sportPratique.nom | lower }} du {{ liste.dateHeureRDV | date("d/m/y") }}
                                        </a> 
                                        de 
                                        <a href="{{ path('moove_utilisateur_profileUtilisateur', {idUtilisateur: liste.organisateur.id}) }}">
                                            {{ liste.organisateur.prenom ~ " " ~ liste.organisateur.nom }}
                                        </a> est en attente.
                                    </p>
                                {% else %}
                                  <p>Je n'ai pas de demandes en attente. Vous pouvez rejoindre des activités en <a href="{{ path('moove_activite_rechercher') }}">recherchant des activités</a>.</p>
                                {% endfor %}
                            </div>
                        </div>
                        
                    </div>
                 </div>
            </div>
        </div>
        
        
        
        
        
        <div class=" col-md-6">
            <!-- Grand panel de droite -->
            <div class="panel panel-default">
                <!-- Titre du grand panel de droite -->
                <div class="panel-heading text-center">Mes activités</div>
                <!-- corps du grand panel de droite -->
                <div class="panel-body">
                    <div class="col-md-6">
                        <!-- premier panel bleu avec les nombres -->
                        <!-- code permettant d'afficher le nombre d'activité que l'utilisateur organise-->
                        <div class="panel status panel-primary">
                            <!-- titre du premier panel bleu -->
                            <div class="panel-heading">
                                <h1 class="panel-title text-center">{{ nbOrganisations }}</h1>
                            </div>
                            <!-- corps du premier panel bleu -->
                            <div class="panel-body text-center">
                                {% if nbOrganisations > 1 %}                    
                                    <strong>organisations à venir</strong>
                                {% else %}
                                    <strong>organisation à venir</strong>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- premier panel jaune avec les nombres -->
                        <!-- code permettant d'afficher le nombre d'utilisateur que l'utilisateur connecté (organisateur)
                        n'a pas encore accepté dans l'une de ses activités-->
                        <div class="panel status panel-warning">
                            <!-- Titre du premier panel jaune -->
                            <div class="panel-heading">
                                <h1 class="panel-title text-center">{{ nbDemandesEnAttenteOrganisateur }}</h1>
                            </div>
                            <!-- corps du premier panel jaune -->
                            <div class="panel-body text-center">                        
                                {% if nbDemandesEnAttenteOrganisateur > 1 %}                    
                                    <strong>demandes de participation en attente</strong>
                                {% else %}
                                    <strong>demande de participation en attente</strong>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                      
                        <!-- second panel bleu avec le texte correspondant aux nombres -->
                        <!-- code affichant les activités que l'utilisateur organise -->
                        <div class="panel panel-primary">
                            <!-- titre du second panel bleu -->
                            <div class="panel-heading">
                                <h3 class="panel-title">Mes activités que j'organise en approche</h3>
                            </div>
                            <!-- corps du second panel bleu -->
                            <div class="panel-body">
                                {% set auMoinsUneParticipationHorsMoi = false %}
                                {% for liste in listeOrganisationEnApproche %}
                                    {% if liste.activite.organisateur == app.user %}
                                        {% set auMoinsUneParticipationHorsMoi = true %}
                                        <p>Mon activité 
                                            <a href="{{ path('moove_activite_detailsActivite', {idActivite: liste.activite.id}) }}" >
                                                  {{ liste.activite.sportPratique.nom | lower }} du {{ liste.activite.dateHeureRDV | date("d/m/y") }}
                                            </a> 
                                            démarre {{ (liste.activite.dateHeureRDV) | time_diff }}.
                                        </p>
                                    {% endif %}
                                {% endfor %}
                                {% if not auMoinsUneParticipationHorsMoi %}
                                    <p>Vous n'avez pas d'activité en approche. Vous pouvez rejoindre des activités en <a href="{{ path('moove_activite_rechercher') }}">recherchant des activités</a>.</p>
                                {% endif %}
                            </div>
                        </div>
                        
                        <!-- second panel jaune avec le texte correspondant aux nombres -->
                        <!-- code affichant les utilisateur qui n'ont pas encore accepté par l'utilisateur connecté (organisateur)
                        dans les activités que ce dernier organise -->
                        <div class="panel panel-warning">
                            <!-- Titre du second panel jaune -->
                            <div class="panel-heading">
                                <h3 class="panel-title">Demandes de participation à mes activités</h3>
                            </div>
                            <!-- corps du second panel jaune -->
                            <div class="panel-body">
                                {% if ListeDemandeAValide is not empty %}
                                    {% for participation in ListeDemandeAValide %}
                                        <p>
                                            <a href="{{ path('moove_utilisateur_profileUtilisateur', {idUtilisateur: participation.utilisateur.id}) }}">{{ participation.utilisateur.prenom ~ " " ~ participation.utilisateur.nom}}</a> demande à participer à mon activite <a href="{{ path('moove_activite_detailsActivite', {idActivite: participation.activite.id}) }}">{{ participation.activite.sportPratique.nom | lower }} du {{ participation.activite.dateHeureRDV | date("d/m/y") }}.</a>
                                            <a href="{{ path('moove_activite_accepter_demande_participation', {'idActivite': participation.activite.id, 'idUtilisateur': participation.utilisateur.id}) }}"><button type="button" class="btn btn-success btn-xs ">Accepter</button></a>
                                            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modalRefus">Refuser</button>
                                        </p>
                                        
                                        
                                        <!-- Modal correspondant à l'action quand on clique sur refuser -->
                                        <div class="modal fade" id="modalRefus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                              </div>
                                              <div class="modal-body">
                                                <p>Êtes-vous sur de vouloir refuser la participation de {{ participation.utilisateur.prenom ~ " " ~ participation.utilisateur.nom }} à votre activité ?</p>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                <a href="{{ path('moove_activite_refuser_demande_participation', {'idActivite': participation.activite.id, 'idUtilisateur': participation.utilisateur.id}) }}"><button type="button" class="btn btn-danger">Oui, refuser</button></a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>Je n'ai proposé aucune activité ou je n'ai pas de demandes en attente sur mes activités.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
