{# https://moove-arl64.c9users.io/web/app_dev.php/activites #}
{% extends "mooveActiviteBundle:Accueil:tableauDeBord.html.twig" %}
{% block activeActivites %}active{% endblock %}
{% block bodyTableau %}
    <br>
    <h3>Liste de toutes les activités auxquelles vous participez ou que vous organisez.</h3>
    <br><br>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>{{ knp_pagination_sortable(tabActivites, 'Sport', 'sport') }}{% if tabActivites.isSorted('sport') and tabActivites.direction == 'desc' %}<i class="fa fa-sort-desc"></i>{% elseif tabActivites.isSorted('sport') and tabActivites.direction == 'asc' %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort"></i>{% endif %}</th>
            <th>{{ knp_pagination_sortable(tabActivites, 'Rendez-vous', 'rdv') }}{% if tabActivites.isSorted('rdv') and tabActivites.direction == 'desc' %}<i class="fa fa-sort-desc"></i>{% elseif tabActivites.isSorted('rdv') and tabActivites.direction == 'asc' %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort"></i>{% endif %}</th>
            <th>{{ knp_pagination_sortable(tabActivites, 'Départ', 'depart') }}{% if tabActivites.isSorted('depart') and tabActivites.direction == 'desc' %}<i class="fa fa-sort-desc"></i>{% elseif tabActivites.isSorted('depart') and tabActivites.direction == 'asc' %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort"></i>{% endif %}</th>
            <th>{{ knp_pagination_sortable(tabActivites, 'Arrivée', 'arrivee') }}{% if tabActivites.isSorted('arrivee') and tabActivites.direction == 'desc' %}<i class="fa fa-sort-desc"></i>{% elseif tabActivites.isSorted('arrivee') and tabActivites.direction == 'asc' %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort"></i>{% endif %}</th>
            <th>{{ knp_pagination_sortable(tabActivites, 'Date', 'date') }}{% if tabActivites.isSorted('date') and tabActivites.direction == 'desc' %}<i class="fa fa-sort-desc"></i>{% elseif tabActivites.isSorted('date') and tabActivites.direction == 'asc' %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort"></i>{% endif %}</th>
            <th>{{ knp_pagination_sortable(tabActivites, 'Participants', 'participants') }}{% if tabActivites.isSorted('participants') and tabActivites.direction == 'desc' %}<i class="fa fa-sort-desc"></i>{% elseif tabActivites.isSorted('participants') and tabActivites.direction == 'asc' %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort"></i>{% endif %}</th>
            <th>{{ knp_pagination_sortable(tabActivites, 'Organisateur', 'organisateur') }}{% if tabActivites.isSorted('organisateur') and tabActivites.direction == 'desc' %}<i class="fa fa-sort-desc"></i>{% elseif tabActivites.isSorted('organisateur') and tabActivites.getDirection == 'asc' %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort"></i>{% endif %}</th>
            <th>{{ knp_pagination_sortable(tabActivites, 'Demande', 'demande') }}{% if tabActivites.isSorted('demande') and tabActivites.direction == 'desc' %}<i class="fa fa-sort-desc"></i>{% elseif tabActivites.isSorted('demande') and tabActivites.direction == 'asc' %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort"></i>{% endif %}</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for activite in tabActivites %}
          <!-- On calcul l'index de l'occurence actuel en prenant en compte le fait de ne pas forcément être sur la premier page -->
          {% set indexResultat = loop.index0 + (tabActivites.currentPageNumber - 1) * nbResultatParPage %}
          <a href="{{ path('moove_activite_detailsActivite', {idActivite: activite.id}) }}">
            <tr>
              <td>{{ activite.sportPratique.nom }}</td>
              <td>{% if activite.lieuRDV.numeroRue != 0 %}{{ activite.lieuRDV.numeroRue }}{% endif %}{{ " " ~ activite.lieuRDV.nomRue ~ " " ~ activite.lieuRDV.ville  }}</td>
              <td>{% if activite.lieuDepart is not null%}{% if activite.lieuDepart.numeroRue != 0 %}{{ activite.lieuDepart.numeroRue }}{% endif %}{{ " " ~ activite.lieuDepart.nomRue ~ " " ~ activite.lieuDepart.ville  }}{% else %}Non spécifié{% endif %}</td>
              <td>{% if activite.lieuArrivee is not null%}{% if activite.lieuArrivee.numeroRue != 0 %}{{ activite.lieuArrivee.numeroRue }}{% endif %}{{ " " ~ activite.lieuArrivee.nomRue ~ " " ~ activite.lieuArrivee.ville  }}{% else %}Non spécifié{% endif %}</td>
              <td>{{ activite.dateHeureRDV | date("d/m/y") }}</td>
              <!-- le nombre de participant est situer sur un 2nd tableau. Chaque case de ce tableau coincide les cases des autres tableaux. 
                  Ainsi, la case situer a "indexResultat" correspond au nombre de participation dans l'activité actuel. -->
              <td>{{ tabNbParticipants[indexResultat] ~ "/" ~ activite.nbPlaces }}</td>
              <td>{% if activite.organisateur == app.user %} Moi {% else %}{{ activite.organisateur.prenom ~ " " ~ activite.organisateur.nom }}{% endif %}</td>
              <!-- On applique ici le même résonnement que pour le tableau du nombres de participation -->
              {% if tabEstAccepte[indexResultat] == 1 %}
                <td><p><span class="label label-success">Acceptée</span></p></td>
              {% elseif tabEstAccepte[indexResultat] == 2 %}
                <td><p><span class="label label-danger">Refusée</span></p></td>
              {% else %}
                <td><p><span class="label label-warning">En attente</span></p></td>
              {% endif %}
              <td><a href="{{ path('moove_activite_detailsActivite', {idActivite: activite.id}) }}" class="btn btn-primary btn-xs">Détails</a></td>
            </tr>
          </a>
          {% else %}
            <h2>Aucune activité</h2>
          {% endfor %}
      </table>
    </div>
{% endblock %}

{% block navTableau %}
  <div class="navigation pull-right">
      {{ knp_pagination_render(tabActivites) }}
  </div>
{% endblock %}