{% extends "mooveActiviteBundle:Accueil:tableauDeBord.html.twig" %}

{% block activeAccueil %}active{% endblock %}
{% block bodyTableau %}
    <br>
    <div class="col-md-12">
        <ul class="list-inline">
          <li><h4><span class="label label-success"> {{ nbParticipations }} participation(s)</span></h4></li>
          <li><h4><span class="label label-primary"> {{ nbOrganisations }} organisation(s)</span></h4></li>
          <li><h4><span class="label label-danger"> {{ nbDemandesEnAttente }} demande(s) d'acception en attente</span></h4></li>
          <li><h4><span class="label label-warning"> {{ listeDemandesEnAttenteOrganisateur }} demande(s) de participation en attente</span></h4></li>
        </ul>
    </div>
    <br>
    <div class="col-md-6">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Mes demandes de participations</h3>
          </div>
          <div class="panel-body">
            
            {% for liste in listeDemandesEnAttente.listeDemande %}
              <p>Votre demande de participation à l'activite {{ liste.sportPratique.nom | lower }}  de {{ liste.organisateur.prenom ~ " " ~ liste.organisateur.nom }} est toujours en attente.</p>
            {% else %}
              Vous n'avez pas de demandes en attente.
            {% endfor %}
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Demandes de participations à vos activités</h3>
          </div>
          <div class="panel-body">
             {% for listeOrganisations in listeDesDemandesDeParticipationsAMesActivites.listeOrganisations %}
                {% for listeDemande in listeDesDemandesDeParticipationsAMesActivites.listeDemandes[0] %}
                  <p>{{ listeDemande.nom ~ " " ~ listeDemande.prenom}}  demande à participer à l'activite {{listeOrganisations.sportPratique.nom | lower }} du {{listeOrganisations.DateHeureRDV | date("d/m/y") }}.
                    <button type="button" class="btn btn-success btn-xs ">Accepter</button>
                    <button type="button" class="btn btn-danger btn-xs">Refuser</button>
                  </p>
          
                {% endfor %}
              {% else %}
              Vous n'avez pas de demandes en attente.
            {% endfor %}
          </div>
        </div>
    </div>
{% endblock %}