{% extends "mooveActiviteBundle:Accueil:tableauDeBord.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/detailsActivite/style.css') }}">
{% endblock %}
{% block activeAccueil %}active{% endblock %}
{% block bodyTableau %}
    <br>
    <div class="row">
        <div class="col-xs-6 col-md-3">
                
                <div class="panel status panel-success">
                    <div class="panel-heading">
                        <h1 class="panel-title text-center">{{ nbParticipations }}</h1>
                    </div>
                    <div class="panel-body text-center">                        
                        <strong>participation(s)</strong>
                    </div>
                </div>
    
            </div>          
            <div class="col-xs-6 col-md-3">
              
                <div class="panel status panel-info">
                    <div class="panel-heading">
                        <h1 class="panel-title text-center">{{ nbOrganisations }}</h1>
                    </div>
                    <div class="panel-body text-center">                        
                        <strong>organisation(s)</strong>
                    </div>
                </div>
    
            </div>
            <div class="col-xs-6 col-md-3">
               
                <div class="panel status panel-danger">
                    <div class="panel-heading">
                        <h1 class="panel-title text-center">{{ nbDemandesEnAttente }}</h1>
                    </div>
                    <div class="panel-body text-center">                        
                        <strong>demande(s) d'acception en attente</strong>
                    </div>
                </div>
    
             
            </div>
            <div class="col-xs-6 col-md-3">
              
                <div class="panel status panel-warning">
                    <div class="panel-heading">
                        <h1 class="panel-title text-center">{{ listeDemandesEnAttenteOrganisateur }}</h1>
                    </div>
                    <div class="panel-body text-center">                        
                        <strong> demande(s) de participation en attente</strong>
                    </div>
                </div>
            </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Mes demandes de participations</h3>
              </div>
              <div class="panel-body">
                
                {% for liste in listeDemandesEnAttente.listeDemande %}
                  <p>Votre demande de participation à l'activite {{ liste.sportPratique.nom | lower }}  de {{ liste.organisateur.prenom ~ " " ~ liste.organisateur.nom }} est toujours en attente.</p>
                {% else %}
                  Vous n'avez pas de demandes en attente pour l'activite.
                {% endfor %}
              </div>
            </div>
        </div>
      <div class="col-md-6">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Demandes de participations à vos activités</h3>
            </div>
            <div class="panel-body">
      
            {% if ListeDemandeAValide is not empty %}
                {% for participation in ListeDemandeAValide.listeDemandes %}
                
                   <p>
                        <a href="{{ path('moove_activite_detailsActivite', {idActivite: ListeDemandeAValide.listeUtilisateur[loop.index0].id}) }}">
                       {{ ListeDemandeAValide.listeUtilisateur[loop.index0].prenom ~ " " ~ ListeDemandeAValide.listeUtilisateur[loop.index0].nom}}</a>
                       demande à participer à l'activite 
                        <a href="{{ path('moove_activite_detailsActivite', {idActivite: ListeDemandeAValide.listeActivite[loop.index0].id}) }}">
                            {{ListeDemandeAValide.listeActivite[loop.index0].sportPratique.nom | lower }} du {{ListeDemandeAValide.listeActivite[loop.index0].DateHeureRDV | date("d/m/y") }}.</a>
                        <button type="button" class="btn btn-success btn-xs ">Accepter</button>
                        <button type="button" class="btn btn-danger btn-xs">Refuser</button>
                        
                {% endfor %}
            {% endif %}
              
{#
                {% set aucuneDemande = true %}
                {% for listeOrganisations in ListeDemandeAValide.listeOrganisations %}
                   {% if ListeDemandeAValide.listeDemandes is not empty %}
                   {% set aucuneDemande = false %}
                   
                     {% for listeDemande in ListeDemandeAValide.listeDemandes[0] %}
                        <p>{{ listeDemande.prenom ~ " " ~ listeDemande.nom}}  demande à participer à l'activite {{listeOrganisations.sportPratique.nom | lower }} du {{listeOrganisations.DateHeureRDV | date("d/m/y") }}.
                          <button type="button" class="btn btn-success btn-xs ">Accepter</button>
                          <button type="button" class="btn btn-danger btn-xs">Refuser</button>
                        </p>
                    {% endfor %}
                    {% endif %}
                {% else %}
                Vous n'organisez pas d'activite.
              {% endfor %}
              {% if aucuneDemande %}
                  Vous n'avez aucune demandes en attente sur vos activite.
              {% endif %}
#}
              
              
            </div>
          </div>
      </div>
    </div>
{% endblock %}