<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} | Moove</title>
        <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap4.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mooveutilisateur/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/animate.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/components/alert.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="author" href="humans.txt">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
      <nav id="header" class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
          &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
          <a class="navbar-brand" href="{{ path('fos_user_security_login') }}">Moove</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{ path('fos_user_security_login') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link scrollTo" href="#marketing">Fonctionnalités</a>
            </li>
            <form class="form-inline navbar-form pull-right">
              {% block boutons %}{% endblock %}
            </form>
          </ul>
        </div>
      </nav>

      <div class="section">
        {% block fos_user_content %}{% endblock %}
        <a class="scrollTo" href="#marketing"><div class="arrow"></div></a>
      </div>
        <!-- FONCTIONNALITES -->

      <div id="marketing" class="container marketing">
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src= " {{ asset('img/Participer.jpg') }}" alt="Image participer" width="240" height="240">
            <h2>Participez</h2>
            <p>Rejoignez des sportifs qui cherchent à faire de nouvelles rencontres, qu'ils correspondent à votre niveau ou non.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            
          </div>
          <div class="col-lg-4">
            <img class="img-circle" src=" {{ asset('img/Prevoyer.jpg') }}" alt="Image Prévoyer" width="240" height="240">
            <h2>Proposez et prévoyez</h2>
            <p>Organisez des activités simplement. Créez une activité afin que d'autres sportifs puissent vous rejoindre pour passer un moment sportif et amical.</p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- DEBUT FONCTIONNALITES DETAILLEES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Participez à des activités ! <span class="text-muted">Et faites des rencontres inoubliables !</span></h2>
            <p class="lead"> Rejoignez des activités créées par des milliards de sportifs motivés pour progresser ensemble ! Avec Moove vous n'allez pas seulement faire des progrès faramineux dans votre sport favori mais vous allez aussi faire de merveilleuses rencontres que vous garderez tout au long de votre vie !</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Proposez vos propres activités ! <span class="text-muted">Soyez un leader !</span></h2>
            <p class="lead">Vous êtes du genre à mener la danse ? que ça soit au lit, dans votre vie de famille ou dans votre travail étendez votre influence par-delà votre monde en y incluant vos passions pour le sport en mettant vos qualités de meneur au service d'une communauté dépassant l'entendement !</p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /FIN FONCTIONNALITES -->

        <!-- FOOTER -->
        <footer>
          <p class="pull-right"><a class="scrollTo" href="#header">Revenir en haut</a></p>
          <p>&copy; 2015 Moove, IUT Bayonne &middot; <a href="#">A propos</a> &middot; <a href="#">Conditions d'utilisation</a></p>
        </footer>

      </div><!-- /.container -->
      <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
      <script src="{{ asset('js/holder.min.js') }}"></script>
      <script src="{{ asset('js/bootstrap.min.js') }}"></script>
      <script src="{{ asset('js/main.js') }}"></script>
    </body>
</html>
