{% extends "::vueMere.html.twig" %}
{% block stylesheets %}
 
{% endblock %}
{% block title %}Ajouter un sport{% endblock %}

{% block body %}
    <!-- Titre de la page -->
    <section class="content-header">
      <h1>Ajouter un sport</h1>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Cliquez sur le bouton ajouter associé au sport de votre choix pour y définir votre niveau.</p>
                {% if sportNonPratique[0] != null %}
                    {% for sport in sportNonPratique %}
                        {% if loop.first %}
                        {% else %}
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                    <img src="{{ asset(sport.urlPictogramme) }}" alt="{{ sport.nom }}" width="100" height="100">
                                    <div class="caption">
                                        <h3>{{ sport.nom }}</h3>
                                        <p><a href="{{ path('moove_utilisateur_choisir_niveau', {'idSport': sport.id}) }}" class="btn btn-primary" role="button">Ajouter</a></p>
                                    </div>
                                 </div>
                            </div>
                        {% endif %}
                        {% endfor %}
                {% endif %}
                {% if nbSportUser == nbSports %}
                    <p>Vous n'avez plus de sport à ajouter !</p>
                {% endif %}
            </div>
            <div class="col-md-12">
                <div class="col-sm-6 col-md-3">
                    <p><a href="{{ path('moove_utilisateur_editer_sports') }}" class="btn btn-warning" role="button">Annuler</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}