{% extends "::vueMere.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/Glyphter.css') }}"> 
<link rel="stylesheet" href="{{ asset('bundles/mooveactivite/css/bootstrap-slider/bootstrap-slider.css') }}">
{% endblock %} 
{% block title %}Ajouter un sport{% endblock %}

{% block body %}
    <!-- Titre de la page -->
    <section class="content-header">
      <h1>Ajouter un sport</h1>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Choisissez votre niveau pour le <i class="icon-{{ sport.nomIcone }}"></i>{{ sport.nom }}</p>
                <input id="niveau" type="text"
                  data-provide="slider"
                  data-slider-ticks="[{% for niveauId in niveaux %}{% if loop.last %}"{{ niveauId.id }}"{% else %}"{{ niveauId.id }}",{% endif %}{% endfor %}]"
                  data-slider-ticks-labels='[{% for niveauNom in niveaux %}{% if loop.last %}"{{ niveauNom.libelle }}"{% else %}"{{ niveauNom.libelle }}",{% endif %}{% endfor %}]'
                  data-slider-min="1"
                  data-slider-max="4"
                  data-slider-step="1"
                  data-slider-value="1"
                  data-slider-tooltip="hide" />
                  <button class="btn btn-primary" type="submit" method="POST">Ajouter le sport</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/mooveactivite/js/bootstrap-slider.js') }}"></script>
    <script type="text/javascript">
    </script>
{% endblock %}