{% extends "::vueMere.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Glyphter.css') }}"> 
    <link rel="stylesheet" href="{{ asset('css/slider/ion.rangeSlider.css') }}">
    <link rel="stylesheet" href="{{ asset('css/slider/ion.rangeSlider.skinFlat.css') }}">
{% endblock %} 
{% block title %}Ajouter un sport{% endblock %}

{% block body %}
    <!-- Titre de la page -->
    <section class="content-header">
      <h1>Ajouter un sport</h1>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><i class="icon-{{ sport.nomIcone }}"></i> Choisissez votre niveau pour le {{ sport.nom }}</p>
                <input id="niveau" type="text" />
                <button class="btn btn-primary" type="submit" method="POST">Ajouter le sport</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/ion.rangeSlider.min.js') }}"></script>
    <script type="text/javascript">
        $("#niveau").ionRangeSlider({
            grid: true,
            from: 0,
            hide_min_max: true,
            hide_from_to: true,
            values: [{% for niveau in niveaux %}{% if loop.last %}"{{ niveau.libelle }}"{% else %}"{{ niveau.libelle}}",{% endif %}{% endfor %}]
        });    
    </script>
{% endblock %}