{% extends "::vueMere.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Glyphter.css') }}"> 
    <link rel="stylesheet" href="{{ asset('css/slider/ion.rangeSlider.css') }}">
    <link rel="stylesheet" href="{{ asset('css/slider/ion.rangeSlider.skinFlat.css') }}">
{% endblock %} 
{% block title %}Modifier un sport{% endblock %}

{% block body %}
    {# Titre de la page #}
    <section class="content-header">
      <h1>Modifier un sport</h1>
    </section>
    
    <section class="content">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p><i class="icon-{{ sport.nomIcone }}"></i> Choisissez votre niveau pour le {{ sport.nom }}</p>
                <form method="POST" action="{{ path('moove_utilisateur_modifier_niveau_sport_confirm', {'idSport': sport.id }) }}">
                    <input id="niveau" name="niveau" type="text" /></br>
                    <button type="submit" class="btn btn-primary">Modifier le niveau</button>
                </form>
            </div>
        </div>
    </section>
    
{% endblock %}

{# block permettant d'afficher le slider #}
{% block javascripts %}
    <script src="{{ asset('js/ion.rangeSlider.min.js') }}"></script>
    <script type="text/javascript">
        var $niveau = $("#niveau");
        $niveau.ionRangeSlider({
            grid: true,
            from: {{ fromNiveau }},
            hide_min_max: true,
            hide_from_to: true,
            values: [{% for niveau in niveaux %}{% if loop.last %}"{{ niveau.libelle }}"{% else %}"{{ niveau.libelle}}",{% endif %}{% endfor %}]
        });
        
        $niveau.on("change", function () {
        var $this = $(this),
        niveauChoisi = $this.prop("niveauChoisi");
        console.log(niveauChoisi);
        });
    </script>
{% endblock %}