{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-signin">
    <h2 class="form-signin-heading">Mot de passe oublié ?</h2>
    <div>
        {% if invalid_username is defined %}
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        </div>
        {% endif %}
        <label class="sr-only" for="username">{{ 'resetting.request.username'|trans }}</label>
        <input class="form-control" type="text" placeholder="{{ 'resetting.request.username'|trans }}" id="username" name="username" required="required" autofocus />
    </div>
    <div>
        <input class="btn btn-lg btn-primary-outline btn-block" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
