{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/profil/profil.css') }}">
{% endblock %}
{% block bodyFOS %}
<div class="fos_user_user_show">
    
    <div class="media">
                <div class="media-left">
                    <img class="media-object" src="{{ asset(app.user.URLAvatar) }}" alt="Photo de l'utilisateur" width="75" height="75">
                </div>
                <div class="media-body">
                  <p class="media-heading">{{ user.prenom ~ " " ~ user.nom }}</p>
                  <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                  <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                </div>
     </div>
     <div class="test"> 
         <p> Date de naissance: {{ user.dateNaissance | date("d/m/y") }} </p>
        <p> Sports : </p></br>
         {% for pratiquer in tabPratiquer %}
         <div class="col-md-3"> 
             <img  src="{{ asset(pratiquer.sport.urlPictogramme) }}" alt="Photo du sport" width="75" height="75"> 
             Niveau : {{ pratiquer.niveau.libelle }}
         </div>
         {% endfor %}
     </div>
      <button type="button" class="btn btn-primary btn-lg">Modifier mon profil</button>
</div>
{% endblock %}