{% extends "::vueMere.html.twig" %}
{% block title %}Détails activité {{activite.id}} {% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/details/style.css') }}">
{% endblock %}
{% block body %} 
    <!-- Titre de la page -->
    <section class="content-header">
      <h1><h2><span class="label label-primary"> {{ activite.organisateur.prenom ~ " " ~ activite.organisateur.nom }} propose une activité {{ activite.sportPratique.nom | lower }}</span></h2></h1>
    </section>
     
    <!-- Contenu principal -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="{{ asset('img/user1-128x128.jpg') }}" alt="phot de l'utilisateur" width="75" height="75">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{ activite.organisateur.prenom ~ " " ~ activite.organisateur.nom }}</h4>
                  <p>{{ niveauOrganisateur }}</p>
                  <small>Annonce publiée le {{ activite.dateCreation | date("d/m/y") }}</small>
                </div>
              </div>
        </div>
      </div>
      <br> <!-- A enlever plus tard et faire le positionnement en CSS -->
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Informations sur l'activité</h3>
            </div>
              <div class="panel-body">
                <div class="infos">
                  <p><span class="info-label text-muted">Sport</span><span class="info-valeur"><i class="fa fa-trophy"></i>{{ activite.sportPratique.nom }}</span></p>
                </div>
                <div class="infos">
                  <p><span class="info-label text-muted">Lieu de rendez-vous</span><span class="info-valeur"><i class="fa fa-circle-o" style="color:#ff9800"></i>{{ activite.lieuRDV.nom }}</span></p>
                </div>
                <div class="infos">
                  <p><span class="info-label text-muted">Lieu de départ</span><span class="info-valeur"><i class="fa fa-circle-o" style="color:#4caf50"></i>{% if activite.lieuDepart is not null  %}{{ activite.lieuDepart.nom }}{% else %}{% endif %}</span></p>
                </div>
                <div class="infos">
                  <p><span class="info-label text-muted">Lieu d'arrivée</span><span class="info-valeur"><i class="fa fa-circle-o" style="color:#e51c23"></i>{% if activite.lieuArrivee is not null  %}{{ activite.lieuArrivee.nom }}{% else %}{% endif %}</span></p>
                </div>
                <div class="infos">
                  <p><span class="info-label text-muted">Date de départ</span><span class="info-valeur"><i class="fa fa-calendar"></i>{{ activite.dateHeureRDV | date("d/m/y H:i") }}</span></p>
                </div>
                <div class="infos">
                  <p><span class="info-label text-muted">Date de fermeture de l'activité</span><span class="info-valeur"><i class="fa fa-calendar"></i>{{ activite.dateFermeture | date("d/m/y H:i") }}</span></p>
                </div>
                <div class="infos">
                  <p><span class="info-label text-muted">Temps estimé</span><span class="info-valeur"><i class="fa fa-clock-o"></i>{{ activite.duree | date ("H:i") }}</span></p>
                </div>
                <div class="infos">
                  <p><span class="info-label text-muted">Nombre de places</span><span class="info-valeur"><i class="fa fa-users"></i>{{ activite.nbPlaces }} places</span></p>
                </div>
              </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Description</h3>
            </div>
              <div class="panel-body">
                {{activite.description}}
              </div>
          </div>
        </div>
          <div class="col-md-4">
            <p>  Participants : ({% if activite.nbPlaces - nbParticipants <= 1 %}<span class="text-red">{{ activite.nbPlaces - nbParticipants }}  place restante</span>{% else %}{{ activite.nbPlaces - nbParticipants }}  places restantes{% endif %})</p>
            <p> 
              {% for participantCourant in tabParticipants %}
                <div class="media">
                  <div class="media-left">
                      <img class="media-object" src="{{ asset('img/user1-128x128.jpg') }}" alt="phot de l'utilisateur" width="75" height="75">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{ participantCourant.prenom ~ " " ~ participantCourant.nom }}</h4>
                    <p>{{ participantCourant.dateNaissance | date("d/m/y") }}</p>
                    <p>Niveau : </p>
                  </div>
                </div>
              {% endfor %}
            </p>
            {% if estOrganisateur %}
              {% if ("now" | date("Ymd") > activite.dateFermeture | date("Ymd")) %}
                <button type="button" class="btn btn-primary btn-lg disabled">Activité terminée</button>
              {% endif %}
              {% if ("now" | date("Ymd") < activite.dateFermeture | date("Ymd")) %}
                <button type="button" class="btn btn-primary btn-lg">Modifier l'activité</button>
              {% endif %}
            {% else %}
              {% if ("now" | date("Ymd") > activite.dateFermeture | date("Ymd")) and estAccepte %}
                <button type="button" class="btn btn-primary btn-lg disabled">Activité terminée</button>
              {% endif %}
              {% if ("now" | date("Ymd") < activite.dateFermeture | date("Ymd")) and not estParticipant %}
                <button type="button" class="btn btn-primary btn-lg">Je veux participer</button>
              {% endif %}
              {% if ("now" | date("Ymd") < activite.dateFermeture | date("Ymd")) and estAccepte and estParticipant %}
                <button type="button" class="btn btn-primary btn-lg">Quitter l'activité</button>
              {% endif %}
              {% if ("now" | date("Ymd") < activite.dateFermeture | date("Ymd")) and not estAccepte and estParticipant %}
                <button type="button" class="btn btn-primary btn-lg disabled">Demande envoyée</button>
              {% endif %}
              {% if ("now" | date("Ymd") > activite.dateFermeture | date("Ymd")) and not estAccepte and estParticipant %}
                <button type="button" class="btn btn-primary btn-lg disabled">Demande envoyée</button>
              {% endif %}
            {% endif %}
          </div>
          
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Carte</h1>
          <div id="map" style="height: 500px;"></div>
        </div>
      </div>
    </section>
    
{% endblock %}
{% block javascripts %}
  <script>
    function initMap() {
      var lieuRDV = {lat: {{ activite.lieuRDV.latitude }}, lng: {{ activite.lieuRDV.longitude }}};
      {% if activite.lieuDepart is not null %}
        var lieuDepart = {lat: {{ activite.lieuDepart.latitude }}, lng: {{ activite.lieuDepart.longitude }}};
        var lieuArrivee_place_id = null;
      {% endif %}
      {% if activite.lieuArrivee is not null %}
        var lieuArrivee = {lat: {{ activite.lieuArrivee.latitude }}, lng: {{ activite.lieuArrivee.longitude }}};
        var lieuArrivee_place_id = null;
      {% endif %}
      
      // Transposer les longitudes et latitudes en place_id et vice-versa
      var geocoder = new google.maps.Geocoder;
      
      // Créé un objet map et indique dans quel id de div elle sera affichée
      var map = new google.maps.Map(document.getElementById('map'), {
        center: lieuRDV,
        scrollwheel: true,
        zoom: 15
      });
      
      // Créé une fenêtre avec les informations sur le lieu de rendez-vous
      var infoWindowLieuRDV = new google.maps.InfoWindow();
      
      // Ouvrir la fenêtre du marker et y insérer l'adresse récupérée grâce à la longitude et latitude
      geocoder.geocode({'location': lieuRDV}, function(resultLieuRDV, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          if (resultLieuRDV[1]) {
            infoWindowLieuRDV.setContent('<div><strong>Lieu de rendez-vous : </strong><br>' +
                                      resultLieuRDV[1].formatted_address + '</div>');
          } else {
            window.alert('Aucun résultat trouvé.');
          }
        } else {
          window.alert('Geocoder a échoué à cause de : ' + status);
        }
      });
    
      // Créé un marker sur la carte et le positionne à l'adresse du lieu de rendez-vous
      var markerLieuRDV = new google.maps.Marker({
        map: map,
        position: lieuRDV,
        title: 'Lieu de rendez-vous'
      });
      
      // Lorsqu'on clique sur le marker affiche la fenêtre infoWindowLieuRDV
      markerLieuRDV.addListener('click', function(){
        infoWindowLieuRDV.open(map, markerLieuRDV);
      });
      
      {% if activite.lieuDepart is not null %}
      
        // Créé un marker sur la carte et le positionne à l'adresse du lieu de départ
        var markerLieuDepart = new google.maps.Marker({
          map: map,
          position: lieuDepart,
          title: 'Lieu de départ'
        });
        // Créé une fenêtre avec les informations sur le lieu de rendez-vous
        var infoWindowLieuDepart = new google.maps.InfoWindow();
        var lieuDepart_place_id;
        geocoder.geocode({'location': lieuDepart}, function(resultLieuDepart, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            if (resultLieuDepart[1]) {
              lieuDepart_place_id = resultLieuDepart[1];
              infoWindowLieuDepart.setContent('<div><strong>Lieu de départ : </strong><br>' +
                                        lieuDepart_place_id.formatted_address + '</div>');
              infoWindowLieuDepart.open(map, markerLieuDepart);
            } else {
              window.alert('Aucun résultat trouvé.');
            }
          } else {
            window.alert('Geocoder a échoué à cause de : ' + status);
          }
        });
        
        // Lorsqu'on clique sur le marker affiche la fenêtre infoWindowLieuRDV
        markerLieuDepart.addListener('click', function(){
          infoWindowLieuDepart.open(map, markerLieuDepart);
        });
      {% endif %}
      
      {% if activite.lieuArrivee is not null %}
        // Créé un marker sur la carte et le positionne à l'adresse du lieu d'arrivée
        var markerLieuArrivee = new google.maps.Marker({
          map: map,
          position: lieuArrivee,
          title: 'Lieu de d\'arrivée'
        });
        
        // Créé une fenêtre avec les informations sur le lieu d'arrivée
        var infoWindowLieuArrivee = new google.maps.InfoWindow();
        geocoder.geocode({'location': lieuArrivee}, function(resultLieuArrivee, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            if (resultLieuArrivee[1]) {
              lieuArrivee_place_id = resultLieuArrivee[1].place_id;
              infoWindowLieuArrivee.setContent('<div><strong>Lieu d\'arrivée : </strong><br>' +
                                        resultLieuArrivee[1].formatted_address + '</div>');
              infoWindowLieuArrivee.open(map, markerLieuArrivee);
            } else {
              window.alert('Aucun résultat trouvé.');
            }
          } else {
            window.alert('Geocoder a échoué à cause de : ' + status);
          }
        });
        
        // Lorsqu'on clique sur le marker affiche la fenêtre infoWindowLieuArrivee
        markerLieuArrivee.addListener('click', function(){
          infoWindowLieuArrivee.open(map, markerLieuArrivee);
        });
      {% endif %}
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmo1B7t569caLPAVZZNdcoH97JCnHRqNM&libraries=places&callback=initMap"></script>
{% endblock %}