{% extends "::vueMere.html.twig" %}

{% block title %}Détails activité {{activite.id}} {% endblock %}

{% block body %} 
    <!-- Titre de la page -->
    <section class="content-header">
      <h1>Détails de l'activité {{activite.id}} </h1>
    </section>
     
    <!-- Contenu principal -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
            <h2> <span class="label label-primary"> {{activite.organisateur.prenom ~ " " ~ activite.organisateur.nom}} propose une activité {{activite.sportPratique.nom}}</span> </h2>
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="{{asset('img/user1-128x128.jpg')}}" alt="phot de l'utilisateur" width="75" height="75">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{activite.organisateur.prenom ~ " " ~ activite.organisateur.nom}}</h4></br>
                     {{activite.organisateur.dateNaissance | date("d/m/y")}} </br>
                     {{ niveauOrganisateur }}
                </div>
              </div>
        </div>
      </div>
      <br> <!-- A enlever plus tard et faire le positionnement en CSS -->
      <div class="row">
          <div class="col-md-4">
            <p>Sport :</p>
            <p>Lieu RDV :</p>
            <p> Départ :</p>
            <p> Arrivée :</p>
            <p> Date et heure de départ :</p>
            <p> Date et heure de fermeture de l'activité :</p>
            <p> Temps estimé :</p>
            <p> Nombre de places :</p>
            <div class="panel-heading">
              <h3 class="panel-title">Informations :</h3>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                {{activite.description}}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <p> {{ activite.sportPratique.nom }}</p>
            <p>{{ activite.lieuRDV.nom }}</p>
            <p>{% if activite.lieuDepart is not null  %}{{ activite.lieuDepart.nom }}{% else %}</BR>{% endif %}</p>
            <p>{% if activite.lieuArrivee is not null  %}{{ activite.lieuArrivee.nom }}{% else %}</BR>{% endif %}</p>
            <p> {{ activite.dateHeureRDV | date("d/m/y H:i") }}</p>
            <p> {{ activite.dateFermeture | date("d/m/y H:i") }}</p>
            <p> {{ activite.duree | date ("H:i") }}</p>
            <p> {{ activite.nbPlaces }}</p>
            <p> Annonce publiée le {{activite.dateCreation | date("d/m/y")}}</p>
          </div>
          <div class="col-md-4">
            <p>  Participants : ({{ activite.nbPlaces - nbParticipants }} places restantes)</p>
            <p> 
              {% for participantCourant in tabParticipants %}
                <div class="media">
                  <div class="media-left">
                      <img class="media-object" src="{{asset('img/user1-128x128.jpg')}}" alt="phot de l'utilisateur" width="75" height="75">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{participantCourant.prenom ~ " " ~ participantCourant.nom}}</h4>
                    <p>{{participantCourant.dateNaissance | date("d/m/y")}}</p>
                    <p>Niveau : {# niveauOrganisateur #}</p>
                  </div>
                </div>
              {% endfor %}
            </p>
            {% if ("now" | date("Ymd") > activite.dateFermeture | date("Ymd")) and estAccepte %}
              <button type="button" class="btn btn-primary btn-lg disabled">Activité terminée</button>
            {% endif %}
            {% if ("now" | date("Ymd") < activite.dateFermeture | date("Ymd")) and not estParticipant %}
              <button type="button" class="btn btn-primary btn-lg">Je veux participer</button>
            {% endif %}
            {% if ("now" | date("Ymd") < activite.dateFermeture | date("Ymd")) and estAccepte and estParticipant %}
              <button type="button" class="btn btn-primary btn-lg">Quitter l'activité</button>
            {% endif %}
            {% if ("now" | date("Ymd") < activite.dateFermeture | date("Ymd")) and not estAccepte and estParticipant %}
              <button type="button" class="btn btn-primary btn-lg disabled">Demande envoyé</button>
            {% endif %}
            {% if ("now" | date("Ymd") > activite.dateFermeture | date("Ymd")) and not estAccepte and estParticipant %}
              <button type="button" class="btn btn-primary btn-lg disabled">Demande envoyé</button>
            {% endif %}
          </div>
      </div> 
                                                     
    </section>
    
{% endblock %}