{% extends "::vueMere.html.twig" %}
{% block title %}Détails activité {{activite.id}} {% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/mooveactivite/css/details/style.css') }}">
  <link rel="stylesheet" href="{{ asset('css/Glyphter.css') }}">
{% endblock %}
{% block body %} 
    <!-- Titre de la page -->
    <section class="content-header">
      <h1><h2><span class="label label-primary"> {{ activite.organisateur.prenom ~ " " ~ activite.organisateur.nom }} propose une activité {{ activite.sportPratique.nom | lower }}</span></h2></h1>
    </section>
    
    <!-- Contenu principal -->
    <section class="content">
      <div class="row">
        {% if app.session.flashbag.has('notice') %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <ul>
            {% for flashMessage in app.session.flashbag.get('notice') %}
              <li>{{ flashMessage }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <div class="col-md-12">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="{{ asset(activite.organisateur.URLAvatar) }}" alt="photo de l'utilisateur" width="75" height="75">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{ activite.organisateur.prenom ~ " " ~ activite.organisateur.nom }}</h4>
                  <p>
                    {% if niveauOrganisateur != null %}
                      {{ niveauOrganisateur }}
                    {% else %}
                      Non pratiquant
                    {% endif %}
                  </p>
                  <small>Annonce publiée le {{ activite.dateCreation | localizeddate('none', 'none', null, null, "d MMMM Y à H'h'mm") }}</small>
                </div>
              </div>
        </div>
      </div>
      <br> <!-- A enlever plus tard et faire le positionnement en CSS -->
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Informations sur l'activité</h3>
            </div>
              <div class="panel-body">
                <div class="infos">
                  <p><span class="info-label text-muted">Sport</span><span class="info-valeur"><i class="icon-{{ activite.sportPratique.nomIcone }}"></i>{{ activite.sportPratique.nom }}</span></p>
                </div>
                <div class="infos">
                  <p><span class="info-label text-muted">Niveau requis</span><span class="info-valeur"><i class="fa fa-bar-chart"></i>{{ activite.niveauRequis.libelle }}</span></p>
                </div>
                <div class="infos">
                  <p><span class="info-label text-muted">Ville</span><span class="info-valeur"><i class="fa fa-building-o"></i>{{ activite.lieuRDV.ville ~ ", " ~ activite.lieuRDV.codePostal }}</span></p>
                </div>
                <div class="infos">
                  <p><span class="info-label text-muted">Lieu de rendez-vous</span><span class="info-valeur"><i class="fa fa-circle-o" style="color:#ff9800"></i>{{ activite.lieuRDV.numeroRue ~ ", " ~ activite.lieuRDV.nomRue }}</span></p>
                </div>
                {% if activite.lieuDepart is not null  %}
                  <div class="infos">
                    <p><span class="info-label text-muted">Lieu de départ</span><span class="info-valeur"><i class="fa fa-circle-o" style="color:#4caf50"></i>{{ activite.lieuDepart.numeroRue ~ ", " ~ activite.lieuDepart.nomRue }}</span></p>
                  </div>
                {% else %}
                  <div class="infos">
                    <p><span class="info-label text-muted">Lieu de départ</span><span class="info-valeur"><i class="fa fa-circle-o" style="color:#4caf50"></i>Non spécifié</span></p>
                  </div>
                {% endif %}
                {% if activite.lieuArrivee is not null  %}
                  <div class="infos">
                    <p><span class="info-label text-muted">Lieu d'arrivée</span><span class="info-valeur"><i class="fa fa-circle-o" style="color:#e51c23"></i>{{ activite.lieuArrivee.numeroRue ~ ", " ~ activite.lieuArrivee.nomRue }}</span></p>
                  </div>
                {% else %}
                  <div class="infos">
                    <p><span class="info-label text-muted">Lieu d'arrivée</span><span class="info-valeur"><i class="fa fa-circle-o" style="color:#e51c23"></i>Non spécifié</span></p>
                  </div>
                {% endif %}
                <div class="infos">
                  <p><span class="info-label text-muted">Date de départ</span><span class="info-valeur"><i class="fa fa-calendar"></i>{{ activite.dateHeureRDV | localizeddate('none', 'none', null, null, "cccc d LLLL yyyy à H'h'mm") }}</span></p>
                </div>
                <div class="infos">
                  <p><span class="info-label text-muted">Date de fin d'inscription  l'activité</span><span class="info-valeur"><i class="fa fa-calendar"></i>{{ activite.dateFermeture | localizeddate('none', 'none', null, null, "cccc d LLLL yyyy à H'h'mm") }}</span></p>
                </div>
                <div class="infos">
                  <p><span class="info-label text-muted">Temps estimé</span><span class="info-valeur"><i class="fa fa-clock-o"></i>{{ activite.duree | localizeddate('none', 'none', null, null, "H 'h' mm") }}</span></p>
                </div>
                <div class="infos">
                  <p><span class="info-label text-muted">Nombre de places (vous inclus)</span><span class="info-valeur"><i class="fa fa-users"></i>{{ activite.nbPlaces }} places</span></p>
                </div>
              </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Informations</h3>
            </div>
              <div class="panel-body">
                {{activite.description}}
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Participants ({% if activite.nbPlaces - nbParticipants <= 1 %}<span class="text-red">{{ activite.nbPlaces - nbParticipants }}  place restante</span>{% else %}{{ activite.nbPlaces - nbParticipants }}  places restantes{% endif %})</h3>
            </div>
              <div class="panel-body">
                {% for participationCourant in tabParticipants %}
                  {#<div class="media">#}
                  
                    <a href="{{path('moove_utilisateur_profileUtilisateur', {idUtilisateur: participationCourant.utilisateur.id}) }}" class="list-group-item">
                    
                      <div class="media-left">
                          <img class="media-object" src="{{ asset(participationCourant.utilisateur.URLAvatar) }}" alt="Photo de l'utilisateur" width="75" height="75">
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">{{ participationCourant.utilisateur.prenom ~ " " ~ participationCourant.utilisateur.nom }}</h4>
                          {# <p>
                            {% if estOrganisateur and participationCourant.estAccepte == 0 %}
                              <button type="button" class="btn btn-success btn-xs ">Accepter</button>
                              <button type="button" class="btn btn-danger btn-xs">Refuser</button>
                            {% endif %}
                          </p> #}
                        {# <p>{{ participationCourant.utilisateur.dateNaissance | date("d/m/y") }}</p> #}
                        <p>Niveau : 
                          {% set find = false %}
                          {% for prati in participationCourant.utilisateur.pratiquer %}
                            {% if prati.sport == activite.sportPratique %}
                                {{ prati.niveau.libelle }} <i>({{ prati.sport.nom }})</i>
                              {% set find = true %}
                            {% endif %}
                          {% endfor %}
                          {% if not find %}
                            Non pratiquant
                          {% endif %}
                          <p>
                            {% if estOrganisateur and participationCourant.estAccepte == 0 %}
                            
                              <a href="{{ path('moove_activite_accepter_demande_participation', {'idActivite': participationCourant.activite.id, 'idUtilisateur': participationCourant.utilisateur.id}) }}"><button type="mini-button" class="btn btn-success btn-xs ">Accepter</button></a>
                              <button type="mini-button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modalRefus">Refuser</button>
                            {% endif %}
                          </p>
                        </p> 
                      </div>
                    
                    </a>
                  <!-- Modal -->
                  <div class="modal fade" id="modalRefus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                        </div>
                        <div class="modal-body">
                          <p>Êtes-vous sur de vouloir refuser la participation de {{ participationCourant.utilisateur.prenom ~ " " ~ participationCourant.utilisateur.prenom }} à votre activité ?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                          <a href="{{ path('moove_activite_refuser_demande_participation', {'idActivite': participationCourant.activite.id, 'idUtilisateur': participationCourant.utilisateur.id}) }}"><button type="button" class="btn btn-danger">Oui, refuser</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {#</div>#}
                  
                {% endfor %}
                {# estAccepter == 1 :> validé | estAccepter == 2 :> refusé | estAccepter == 0 :> en attente #}
                {% if estOrganisateur %}
                  {% if ("now" | date("Ymd") > activite.dateHeureRDV | date("Ymd")) %}
                    <button type="button" class="btn btn-primary btn-lg disabled">Activité terminée</button>
                  {% else %}
                    <button type="button" class="btn btn-primary btn-lg">Modifier l'activité</button>
                    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#modalSupprimer">Supprimer l'activité</button>
                  {% endif %}
                  
                  <!-- Modal -->
                  <div class="modal fade" id="modalSupprimer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                        </div>
                        <div class="modal-body">
                          <p>Êtes-vous sur de vouloir supprimer cette activité ?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                          <a href="{{ path('moove_activite_supprimer_activite', {'idActivite': activite.id, 'organisateur': app.user.id}) }}"><button type="button" class="btn btn-danger">Oui, supprimer l'activité</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {#</div>#}
                {% else %}
                  {% if ("now" | date("Ymd") > activite.dateFermeture | date("Ymd")) %}
                    {% if estAccepte == 1 %}
                      <button type="button" class="btn btn-warning btn-lg disabled">Activité fermée</button>
                    {% elseif estAccepte == 2 %}
                      <button type="button" class="btn btn-warning btn-lg disabled">Activité fermée</button>
                    {% else %}
                      <button type="button" class="btn btn-warning btn-lg disabled">Activité fermée</button>
                    {% endif %}
                  {% else %}
                    {% if estParticipant %}
                      {% if estAccepte == 1 %}
                        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#quitterActivite">Quitter l'activité</button>
                      {% elseif estAccepte == 2 %}
                        <button type="button" class="btn btn-danger btn-lg disabled">Vous avez été refusé</button>
                      {% else %}
                        <button type="button" class="btn btn-warning btn-lg disabled">Demande envoyée</button>
                      {% endif %}
                      
                    {% else %}
                      <a href="{{ path('moove_activite_demande_participation', {'idActivite': activite.id, 'idUtilisateur': app.user.id}) }}"><button type="button" class="btn btn-primary btn-lg">Je veux participer</button>
                    {% endif %}
                  {% endif %}
                <!-- Modal -->
                <div class="modal fade" id="quitterActivite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Quitter</h4>
                      </div>
                      <div class="modal-body">
                        Voulez-vous vraiment quitter cette activité?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
                        <a href= {{ path('moove_activite_quitter_activite', {'idActivite': activite.id, 'idUtilisateur': app.user.id})}}><button type="button" class="btn btn-danger">Quitter l'activité</button></a>
                      </div>
                    </div>
                  </div>
                </div>
                {# A VERIFIER
                
                {% if ("now" | date("Ymd") > activite.dateFermeture | date("Ymd")) and estAccepte %}
                    <button type="button" class="btn btn-primary btn-lg disabled">Activité terminée</button>
                  {% endif %}
                  {% if ("now" | date("Ymd") < activite.dateFermeture | date("Ymd")) and not estParticipant %}
                    <button type="button" class="btn btn-primary btn-lg">Je veux participer</button>
                  {% endif %}
                  {% if ("now" | date("Ymd") < activite.dateFermeture | date("Ymd")) and estAccepte and estParticipant %}
                    <button type="button" class="btn btn-primary btn-lg">Quitter l'activité</button>
                  {% endif %}
                  {% if ("now" | date("Ymd") < activite.dateFermeture | date("Ymd")) and not estAccepte and estParticipant %}
                    <button type="button" class="btn btn-primary btn-lg disabled">Demande envoyée</button>
                  {% endif %}
                  {% if ("now" | date("Ymd") > activite.dateFermeture | date("Ymd")) and not estAccepte and estParticipant %}
                    <button type="button" class="btn btn-primary btn-lg disabled">Demande envoyée</button>
                  {% endif %}
                  
                  #}
                
                
                {% endif %}
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Carte</h1>
          <div id="map" style="height: 500px;"></div>
        </div>
      </div>
    </section>
    
{% endblock %}
{% block javascripts %}
  <script>
    function initMap() {
      var lieuRDV = {lat: {{ activite.lieuRDV.latitude }}, lng: {{ activite.lieuRDV.longitude }}};
      {% if activite.lieuDepart is not null %}
        var lieuDepart = {lat: {{ activite.lieuDepart.latitude }}, lng: {{ activite.lieuDepart.longitude }}};
        var lieuArrivee_place_id = null;
      {% endif %}
      {% if activite.lieuArrivee is not null %}
        var lieuArrivee = {lat: {{ activite.lieuArrivee.latitude }}, lng: {{ activite.lieuArrivee.longitude }}};
        var lieuArrivee_place_id = null;
      {% endif %}
      
      // Transposer les longitudes et latitudes en place_id et vice-versa
      var geocoder = new google.maps.Geocoder;
      
      // Créé un objet map et indique dans quel id de div elle sera affichée
      var map = new google.maps.Map(document.getElementById('map'), {
        center: lieuRDV,
        scrollwheel: false,
        zoom: 15
      });
      
      // Créé une fenêtre avec les informations sur le lieu de rendez-vous
      var infoWindowLieuRDV = new google.maps.InfoWindow();
      
      // Ouvrir la fenêtre du marker et y insérer l'adresse récupérée grâce à la longitude et latitude
      geocoder.geocode({'location': lieuRDV}, function(resultLieuRDV, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          if (resultLieuRDV[1]) {
            infoWindowLieuRDV.setContent('<div><strong>Lieu de rendez-vous : </strong><br>' +
                                      resultLieuRDV[1].formatted_address + '</div>');
          } else {
            window.alert('Aucun résultat trouvé.');
          }
        } else {
          window.alert('Geocoder a échoué à cause de : ' + status);
        }
      });
    
      // Créé un marker sur la carte et le positionne à l'adresse du lieu de rendez-vous
      var markerLieuRDV = new google.maps.Marker({
        map: map,
        position: lieuRDV,
        title: 'Lieu de rendez-vous'
      });
      
      // Lorsqu'on clique sur le marker affiche la fenêtre infoWindowLieuRDV
      markerLieuRDV.addListener('click', function(){
        infoWindowLieuRDV.open(map, markerLieuRDV);
      });
      
      {% if activite.lieuDepart is not null %}
      
        // Créé un marker sur la carte et le positionne à l'adresse du lieu de départ
        var markerLieuDepart = new google.maps.Marker({
          map: map,
          position: lieuDepart,
          title: 'Lieu de départ'
        });
        // Créé une fenêtre avec les informations sur le lieu de rendez-vous
        var infoWindowLieuDepart = new google.maps.InfoWindow();
        var lieuDepart_place_id;
        geocoder.geocode({'location': lieuDepart}, function(resultLieuDepart, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            if (resultLieuDepart[1]) {
              lieuDepart_place_id = resultLieuDepart[1];
              infoWindowLieuDepart.setContent('<div><strong>Lieu de départ : </strong><br>' +
                                        lieuDepart_place_id.formatted_address + '</div>');
              infoWindowLieuDepart.open(map, markerLieuDepart);
            } else {
              window.alert('Aucun résultat trouvé.');
            }
          } else {
            window.alert('Geocoder a échoué à cause de : ' + status);
          }
        });
        
        // Lorsqu'on clique sur le marker affiche la fenêtre infoWindowLieuRDV
        markerLieuDepart.addListener('click', function(){
          infoWindowLieuDepart.open(map, markerLieuDepart);
        });
      {% endif %}
      
      {% if activite.lieuArrivee is not null %}
        // Créé un marker sur la carte et le positionne à l'adresse du lieu d'arrivée
        var markerLieuArrivee = new google.maps.Marker({
          map: map,
          position: lieuArrivee,
          title: 'Lieu de d\'arrivée'
        });
        
        // Créé une fenêtre avec les informations sur le lieu d'arrivée
        var infoWindowLieuArrivee = new google.maps.InfoWindow();
        geocoder.geocode({'location': lieuArrivee}, function(resultLieuArrivee, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            if (resultLieuArrivee[1]) {
              lieuArrivee_place_id = resultLieuArrivee[1].place_id;
              infoWindowLieuArrivee.setContent('<div><strong>Lieu d\'arrivée : </strong><br>' +
                                        resultLieuArrivee[1].formatted_address + '</div>');
              infoWindowLieuArrivee.open(map, markerLieuArrivee);
            } else {
              window.alert('Aucun résultat trouvé.');
            }
          } else {
            window.alert('Geocoder a échoué à cause de : ' + status);
          }
        });
        
        // Lorsqu'on clique sur le marker affiche la fenêtre infoWindowLieuArrivee
        markerLieuArrivee.addListener('click', function(){
          infoWindowLieuArrivee.open(map, markerLieuArrivee);
        });
      {% endif %}
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmo1B7t569caLPAVZZNdcoH97JCnHRqNM&libraries=places&callback=initMap"></script>
{% endblock %}