{% form_theme formulaireActivite 'bootstrap_3_layout.html.twig' %}
{% extends "::vueMere.html.twig" %}

{% block activeProposer %}active{% endblock %}
{% block title %}Proposer des activités{% endblock %}

{% block body %} 
    <!-- Titre de la page -->
    <section class="content-header">
      <h1>Proposer une activité</h1>
      <section class="content">
        <div class="row">
          <div class="col-md-5">
            <form method="post" {{ form_enctype(formulaireActivite) }}>
              {{form_start(formulaireActivite)}}
              <div>
                {{ form_label(formulaireActivite.sportPratique) }}
                {{ form_errors(formulaireActivite.sportPratique) }}
                {{ form_widget(formulaireActivite.sportPratique) }}
              </div>
               <div>
                {{ form_label(formulaireActivite.niveauRequis) }}
                {{ form_errors(formulaireActivite.niveauRequis) }}
                {{ form_widget(formulaireActivite.niveauRequis) }}
              </div>
              <div>
                {{ form_label(formulaireActivite.dateHeureRDV) }}
                {{ form_errors(formulaireActivite.dateHeureRDV) }}
                {{ form_widget(formulaireActivite.dateHeureRDV) }}
              </div>
              <div>
                {{ form_label(formulaireActivite.dateFermeture) }}
                {{ form_errors(formulaireActivite.dateFermeture) }}
                {{ form_widget(formulaireActivite.dateFermeture) }}
              </div>
              <div>
                {{ form_label(formulaireActivite.duree) }}
                {{ form_errors(formulaireActivite.duree) }}
                {{ form_widget(formulaireActivite.duree) }}
              </div>
              <div>
                {{ form_label(formulaireActivite.nbPlaces) }}
                {{ form_errors(formulaireActivite.nbPlaces) }}
                {{ form_widget(formulaireActivite.nbPlaces) }}
              </div>
              <div>
                {{ form_label(formulaireActivite.description) }}
                {{ form_errors(formulaireActivite.description) }}
                {{ form_widget(formulaireActivite.description) }}
              </div></br>
            </div>
            <div class="col-md-6">
                {{ form_label(formulaireActivite.adresseLieuRDV, 'Lieu de rendez-vous') }}
                {{ form_errors(formulaireActivite.adresseLieuRDV) }}
                {{ form_widget(formulaireActivite.adresseLieuRDV) }}
            </div>
            <div class="row">
              <div class="col-md-9"></div>
              <div class="col-md-3">
                <input type="submit" class="btn btn-primary" value="Publier"/>
                <a href="{{ path('moove_activite_tableauDeBord') }}"><button type="button" class="btn btn-warning">Annuler</button></a>
              </div>
            </div>
            {{form_end(formulaireActivite)}}
          </form>
          
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmo1B7t569caLPAVZZNdcoH97JCnHRqNM&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
    <script>
        var input = (document.getElementById('form_adresseLieuRDV'));
        var autocomplete;
        
        function initAutocomplete() {
          // Create the autocomplete object, restricting the search to geographical
          // location types.
          autocomplete = new google.maps.places.Autocomplete(input, {types: ['geocode']});
        }
    </script>
{% endblock %}