{% extends "::vueMere.html.twig" %}
{% block title %}Rechercher des activités{% endblock %}
{% block activeRechercher %}active{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/mooveactivite/css/rechercher.css') }}">
    <link rel="stylesheet" href="{{ asset('css/slider/ion.rangeSlider.css') }}">
    <link rel="stylesheet" href="{{ asset('css/slider/ion.rangeSlider.skinFlat.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}">
{% endblock %}

{% block body %} 
    <!-- Titre de la page -->
    <section class="content-header">
      <h1>Rechercher</h1>
    </section>
     
    <!-- Contenu principal -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <form name="base" class="form-inline">
                    <input id="autocomplete" type="text" class="form-control" placeholder="Entrez une ville..." name="ville">
                    <div class="input-group date">
                      <input type="text" placeholder="Date de l'activité" class="form-control" name="date"><span class="input-group-addon" ><i class="fa fa-calendar"></i></span>
                    </div>
                    <!-- On utilise ici la fonction sumbit() du 2nd formulaire pour envoyer le résultat. On dois donc rajouté majDate() car on ne clique pas sur le bouton.-->
                    <button type="button" class="btn btn-default" onclick="javascript:majDate();document.filtre.submit()">Rechercher</button>
                    <select class="form-control" id="select">
                      <option selected>Trier par</option>
                      <option value="dateHeureRDV">Heure de départ</option>
                      <option value="date">Date</option>
                      <option value="niveau">Niveau</option>
                      <option value="sport">Sport</option>
                      <option value="ville">Ville</option>
                    </select>
                </form>
                <p>{{ nbActivites }} résultats</p>
            </div>
            <div class="col-md-4 pull-right">
            <div>
                <h2>Filtres de recherche</h2>
                
                <form name="filtre" method="post">
                <!-- le formulaire doit ressembler a ca
                                        heure de départ & arriver (un double)
                                        case à cocher sports | case à cocher niveaux
                                        bouton radio avec photo  |  spinner (order by)
                                        nbPlace max (de 0 a 20)
                                        nbPlaceRestante (un double avec min et max)
                                        distance max du pts (qu'on a pas regler du tout)-->
                <!-- hidden (mise a jour par javascript a partir de l'autre formulaire -->
                <input type="hidden" name="ville" value="">
                <input type="hidden" name="date" value="">

                <label for="heure">Heure de départ</label><br>
                <input id="heure" name="heure" type="text"/><br><br>
                <div class="col-md-6">
                <!-- Liste des sports. Le premier cochera / décochera tous les autres. -->
                    <label>Sport</label><br/>
                    <input type="checkbox" name="name_allSport" id="name_allSport" onChange='javascript:checkSport()' value=""/> Tous les sports<br/>
                    {% for sport in tabSport %}    
                        <input type="checkbox" name="name_{{ sport.nom }}" id="id_{{ sport.nom }}" value="{{ sport.nom }}" /> {{ sport.nom }}<br/>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                <!-- Liste des Niveaux. Le premier cochera / décochera tous les autres. -->
                    <label>Niveau</label> <br/>
                    <input type="checkbox" name="name_allNiveau" id="name_allNiveau" onChange='javascript:checkNiveau()' value=""/> Tous les niveaux<br/>
                    {% for niveau in tabNiveau %}    
                        <input type="checkbox" name="name_{{ niveau.libelle }}" id="id_{{ niveau.libelle }}" /> {{ niveau.libelle }}<br/>
                    {% endfor %}
                </div>
                <br>
                <!-- Radio groupe des photos -->
                    <label> Photo </label></br>
                    <input type="radio" name="photo" id="tous" value="all" checked> Tous<br/>
                    <input type="radio" name="photo" id="avec" value="yes"> Avec photo<br/><br>
                    <!--<input type="radio" name="photo" id="sans" value="no" >Sans photo<br/>-->

                    <label for="nbPlaces">Nombres de places</label>
                    <input id="nbPlaces" name="nbPlaces" type="text"/><br>
                    <label for="nbPlacesRestantes">Nombres de places restantes</label>
                    <input id="nbPlacesRestantes" name="nbPlacesRestantes" type="text"/><br>
                    <label for="rayonRecherche">Rayon de recherche en km</label>
                    <input id="rayonRecherche" name="rayonRecherche" type="text"/><br>
                    <!-- Avec la fonction onClick, on copie la valeur des champs du 1er formulaire dans le 2nd car on ne pue pas submit deux form en une fois. -->
                    <button name= "filtrer" type="submit" class="btn btn-primary" onclick="javascript:majDate()">Filtrer</button>
        		</form>
                
                
            </div>
            </div>
            <div class="col-md-8">
                <div class="list-group">
                    {% for activite in tabActivites %}
                      <a href="{{ path('moove_activite_detailsActivite', {idActivite: activite.id}) }}" class="list-group-item">
                        <div class="col-md-2 media">
                            <div class="media-left">
                                <img class="media-object img-rounded img-responsive"  src="{{ asset(activite.organisateur.URLAvatar) }}" alt="Photo de l'organisateur" >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <p>{{ activite.organisateur.prenom ~ " " ~ activite.organisateur.nom }}</p>
                            <p>{{ ('now'|date('Y') - activite.organisateur.dateNaissance|date('Y') - 1) + ('now'|date('2010-m-d')|date('U') - activite.organisateur.dateNaissance|date('2010-m-d')|date('U') >= 0 ? 1 : 0) }} ans</p>
                            <p>Niveau organisateur</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <h4 class="list-group-item-heading">{{ activite.dateHeureRDV | localizeddate('none', 'none', null, null, "cccc d LLLL yyyy à H'h'mm")}}</h4>
                            <p>Lieu RDV : {{ activite.lieuRDV.ville }}</p>
                            <p>Sport : {{ activite.sportPratique.nom }}</p>
                        </div>
                        <div class="col-md-3 text-right">
                            <h3>{# nbParticipants #} <small> participants</small></h3>
                            <p>{{ activite.nbPlaces }} places restantes</p>
                            <p>Niveau : {{ activite.niveauRequis.libelle }}</p>
                        </div>
                      </a>

                    {% else %}
                        Aucune activité
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/ion.rangeSlider.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}" charset="utf-8"></script>
    <script src="{{ asset('locales/bootstrap-datepicker.fr.min.js') }}" charset="UTF-8"></script>
    <script type="text/javascript">
        $("#heure").ionRangeSlider({
            type: "double",
            grid: true,
            min: 0,
            max: 24,
            from: 0,
            to: 24,
            postfix: 'h'
        });
        
        $("#nbPlaces").ionRangeSlider({
            type: "double",
            grid: true,
            min: 1,
            max: 20,
            from: 0,
            to: 20,
            postfix: ' places'
        });

        $("#nbPlacesRestantes").ionRangeSlider({
            grid: true,
            min: 1,
            max: 19,
            from: 1,
            postfix: ' places restantes',
            prefix: 'Au moins '
        });
        
        $("#rayonRecherche").ionRangeSlider({
            grid: true,
            min: 1,
            max: 100,
            from: 1,
            postfix: ' km',
            prefix: 'Rayon de '
        });
        
        $('.input-group.date').datepicker({
          format: "dd/mm/yyyy",
          language: "fr",
          orientation: "bottom auto",
          autoclose: false
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmo1B7t569caLPAVZZNdcoH97JCnHRqNM&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
    <script>
        var input = (document.getElementById('autocomplete'));
        var autocomplete;
        
        function initAutocomplete() {
          // Create the autocomplete object, restricting the search to cities
          // location types.
            var options = {
              types: ['(cities)'],
              componentRestrictions: {country: 'fr'}
            };
          autocomplete = new google.maps.places.Autocomplete(input, options);
        }
    </script>
    <script>
        function majDate()
        {
            document.filtre.date.value = document.base.date.value;
            document.filtre.ville.value = document.base.ville.value;
        }
    
    	function checkSport()
    	{
    		var form = document.filtre;
    		var isChecked = form.name_allSport.checked;
    		// on vérifie tous les sports de la base
    		{% for sport in tabSport %}    
    			form.name_{{ sport.nom }}.checked = isChecked
            {% endfor %}	
    	}
    	
    	function checkNiveau()
    	{
    		var form = document.filtre;
    		var isChecked = form.name_allNiveau.checked;
    		
    		{% for niveau in tabNiveau %}    
    			form.name_{{ niveau.libelle }}.checked = isChecked
            {% endfor %}	
    	}
    </script>
{% endblock %}